
span {
    padding: 3px;
}


/****  First Image ****/
.design {
    background: url("../assets/architecture.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
  }


h1 {
    font-family: 'VT323', monospace;
    text-align: center;
    color: white;
    padding-top: 300px;
    font-size: 75px;

  }

h3 {
    font-family: 'Staatliches', cursive;
    color: white;
    text-align: center;
}

/***** Second Image ****/
.abstract {
    background: url("../assets/polygon.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

/* h2 {
    text-align: center;
    border: solid 1px lightgray;
    border-bottom: 10em;
} */
