 .container {
  background-color: rgb(170, 170, 170);
  max-width: 100%;
 }
 
 
 .container h2{
  font-family: 'VT323', monospace;
  color: rgb(252, 249, 249);
  text-align: center;
  margin-bottom: 50px;
}


.col{
  margin-top: 50px;
  margin-right: 2px;
  text-align: center;
  display: block;
  width: 100vw;
  overflow: hidden;
}


.project1 {
  background: url("../assets/Boo.jpg") no-repeat cover;
  border: solid 3px white;
  position: relative;
  margin-top: 10px;
  margin-bottom: 75px;
  margin-left: 25px;
  width: 80%;
  height: 300px;
}

.project1 img {
  height: 100%;
  width: 100%;
}

.project1:hover a {
  opacity: .5;
}


.project2 {
  background: url("../assets/JSTutorial.jpg") no-repeat cover;
  border: solid 3px white;
  position: relative;
  margin-top: 10px;
  margin-bottom: 75px;
  margin-left: 25px;
  width: 80%;
  height: 300px;
}

.project2 img {
  height: 100%;
  width: 100%;
}


.project2:hover a {
  opacity: .5;
}

.project3 {
  background: url("../assets/spacexapi.jpg") no-repeat cover;
  border: solid 3px white;
  position: relative;
  margin-top: 10px;
  margin-bottom: 75px;
  margin-left: 25px;
  height: 300px;
  width: 80%;
}

.project3 img {
  height: 100%;
  width: 100%;
}

.project3:hover a {
  opacity: .5;
}